---
const platforms = ["github", "linkedIn", "twitter"]
const username = "fpigeonjr"
---

<footer>
  <p>
    Learn more about my projects on
    {
      platforms.map(
        (platform) =>
          (
            <a
              class="social-link"
              href={`https://www.${platform}.com/${username}`}
            >
              {platform}
            </a>
          )!
      )
    }
  </p>
</footer>

<style>
  footer {
    padding: 0.5rem;
    background-color: rebeccapurple;
    color: white;
  }
  .social-link {
    color: white;
    margin-left: 0.5rem;
  }
</style>
